#select {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.book {
    text-align: center;
    background-color: var(--bg-color);
    box-shadow: 0 2px 2px #0005;
    border-radius: 5px;
    padding: 9px 0;
    margin: 5px;
    transition: border 0.2s ease, background-color 0.2s ease;
    font-size: var(--font-size);
    font-family: var(--verse-font);
}

.book:nth-child(-n + 5) {
    border: 3px solid var(--book1);
}

.book:nth-child(n + 6):nth-child(-n + 23) {
    border: 3px solid var(--book2);
}

.book:nth-child(n + 23):nth-child(-n + 40) {
    border: 3px solid var(--book3);
}

.book:nth-child(n + 40):nth-child(-n + 43) {
    border: 3px solid var(--book4);
}

.book:nth-child(44) {
    border: 3px solid var(--book5);
}

.book:nth-child(n + 45):nth-child(-n + 65) {
    border: 3px solid var(--book6);
}

.book:nth-child(66) {
    border: 3px solid var(--book7);
}

.book:hover,
.book:nth-child(-n + 5):hover,
.book:nth-child(n + 6):nth-child(-n + 23):hover,
.book:nth-child(n + 23):nth-child(-n + 40):hover,
.book:nth-child(n + 40):nth-child(-n + 43):hover,
.book:nth-child(44):hover,
.book:nth-child(n + 45):nth-child(-n + 65):hover,
.book:nth-child(66):hover {
    background-color: var(--hover-color2);
    border: 3px solid var(--hover-color);
    cursor: pointer;
}

#chapters::-webkit-scrollbar {
    display: none;
}

#chapters {
    display: grid;
    overflow-y: scroll;
    resize: none;
    box-sizing: border-box;
    grid-template-columns: repeat(5, 1fr);
    left: 12%;
    top: 10%;
    position: fixed;
    width: 76%;
    max-height: 70%;
    padding: 5px;
    background-color: var(--chapters-bg-color);
    border: 5px solid var(--chapters-bg-color);
    border-radius: 15px;
}

.chapter {
    min-height: 50px;
    text-align: center;
    color: var(--text-color);
    /* color: var(--chapter-text-color); */
    /* background-color: var(--chapter-bg-color1); */
    box-shadow: 0 2px 2px #0005;
    border-radius: 3px;
    padding: 9px 0;
    margin: 3px;
    border: 2px solid var(--chapter-bg-color1);
    /* font-weight: bold; */
    font-size: var(--font-size);
    font-family: var(--verse-font);
    transition: background-color 0.1s ease;
}

.chapter:nth-child(n):nth-child(-n + 200):nth-child(10n - 1),
.chapter:nth-child(n):nth-child(-n + 200):nth-child(10n - 3),
.chapter:nth-child(n):nth-child(-n + 200):nth-child(10n - 5),
.chapter:nth-child(n):nth-child(-n + 200):nth-child(10n - 7),
.chapter:nth-child(n):nth-child(-n + 200):nth-child(10n - 9) {
    /* background-color: var(--chapter-bg-color1); */
}

.chapter:hover,
.chapter:nth-child(n):nth-child(-n + 200):nth-child(10n - 1):hover,
.chapter:nth-child(n):nth-child(-n + 200):nth-child(10n - 3):hover,
.chapter:nth-child(n):nth-child(-n + 200):nth-child(10n - 5):hover,
.chapter:nth-child(n):nth-child(-n + 200):nth-child(10n - 7):hover,
.chapter:nth-child(n):nth-child(-n + 200):nth-child(10n - 9):hover {
    background-color: #ddd;
    color: var(--grey);
    cursor: pointer;
}

#title {
    color: grey;
    font-weight: bold;
    font-size: var(--font-size);
    font-family: var(--verse-font);
}

#answer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    height: 100%;
    text-align: left;
    padding: 0 15px;
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
}

.verse-container {
    display: flex;
    flex-direction: row;
}

.verse {
    width: 100%;
    line-height: var(--gap-line);
    letter-spacing: var(--gap-letter);
    word-spacing: var(--gap-word);
    margin: var(--gap-verse) 0;
    word-break: break-all;
    font-size: var(--font-size);
    transition: box-shadow 0.2s ease, background 0.2s ease;
    padding: 3px;
    border-radius: 10px;
    transition: box-shadow 1s ease;
}

.verse div {
    font-family: var(--verse-font);
}

.num {
    color: grey;
    font-size: calc(var(--font-size) / 2);
    margin-top: calc(var(--font-size) / 2);

    margin-right: calc(var(--font-size) / 2);
    width: fit-content;
}

/* --------------- Practice --------------- */
.btn-righttop {
    right: 2%;
    padding: 2px 15px;
    box-sizing: border-box;
    border-radius: 1000px;
    border: none;
    color: var(--text-color);
    font-size: 0.8rem;
    cursor: pointer;
    box-shadow: 0 3px 5px #0003;
}

#btn-practice {
    background-color: var(--main-color);
}

#btn-cancel {
    background-color: var(--cancel-color);
}

.word-practice {
    color: #0000;
    text-shadow: 0 0 calc(var(--font-size) / 1.5) var(--text-color);
    transition: all 0.2s ease;
    cursor: crosshair;
}

.word-practice:hover {
    color: var(--text-color);
    text-shadow: 0 0 0 var(--hover-color);
}

.verse-practice::selection {
    /* background-color: var(--input-color); */
    text-shadow: 0 0 0 var(--hover-color);
    color: #ddd;
}

.ta-practice {
    width: 100%;
    padding: 10px;
    margin: 10px 10px 25px 0px;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: var(--font-size);
    color: var(--text-color);
    border: 2px solid var(--input-color);
    background-color: var(--bg-color);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease, height 0.3s ease-in;
    height: fit-content;
    overflow: hidden;
    resize: none;
    line-height: 180%;
    letter-spacing: -1.5px;
    word-spacing: 3px;
    word-break: keep-all;
}

#input-folder-verse {
    height: 50vh;
    overflow: auto;
}

.ta-practice::placeholder {
    color: #888;
}

.ta-practice:focus {
    outline: none;
    border: 2px solid var(--main-color);
    box-shadow: inset 0 0 8px rgba(34, 74, 255, 0.5);
}

.feedback {
    background-color: var(--input-color);
    color: var(--text-color);
    margin: 10px 0 0 0;
    padding: 5px;
    border-radius: 10px;
    text-shadow: none;
}

.correct {
    color: black;
}

.wrong {
    color: var(--feedback-wrong-color);
    text-decoration: line-through;
}

.add {
    color: var(--feedback-add-color);
    font-weight: bold;
}

#practice-container {
    display: none;
    align-items: center;
    width: 100%;
}

#practice-container * {
    flex-grow: 1;
    height: 50px;
    margin: 3px;
    padding: 0;
}

#btn-hide {
    background-color: var(--btn-color);
}

#btn-hide img {
    height: 48px;
}

#btn-check {
    background-color: var(--check-color);
}

/* --------------------- FOLDER ---------------------- */
#folders-title {
    font-size: 2rem;
    text-align: center;
    text-shadow: 0 0 15px var(--bg-color);
    background: linear-gradient(
        var(--bg-color) 40%,
        var(--input-color) 50%,
        var(--bg-color) 60%
    );
}

#folders {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.folder {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
}

.folder-icon {
    color: var(--book1);
    font-size: 10rem !important;
    text-shadow: 0 -5px 0 var(--text-color);
    transition: all 0.15s linear;
}

.folder-icon:hover {
    transform: rotateX(30deg) translateY(6px);
    text-shadow: 0 -19px 0 var(--main-color);
}

.folder-label {
    top: -84px;
    position: relative;
    color: var(--text-color);
    font-family: var(--verse-font);
    pointer-events: none;
    /* font-weight: bold; */
}

#folder-add {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px dashed var(--text-color);
    text-align: center;
    color: var(--text-color);
    cursor: pointer;
    margin: 10px;
    transition: all 0.2s linear;
}

#folder-add span {
    margin: auto;
    font-size: 50px !important;
    margin: 25px;
    transition: all 0.2s linear;
}

#folder-add:hover {
    animation: 1s folder-add-anim forwards;
    color: var(--main-color);
    border: 4px dashed var(--main-color);
}

@keyframes folder-add-anim {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

#folder-add:hover span {
    font-size: 80px !important;
    margin: 10px;
}

.blur-container {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--blur-color);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    resize: none;
    box-sizing: border-box;
    left: 12%;
    top: 10%;
    position: fixed;
    width: 76%;
    max-height: 70%;
    padding: 5px;
    background-color: var(--chapters-bg-color);
    border: 5px solid var(--chapters-bg-color);
    border-radius: 15px;
    z-index: -50;
}

.container::-webkit-scrollbar {
    display: none;
}

#folder-setting-label {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
}

#input-folder-name {
    border: 2px solid var(--input-color);
    border-radius: 100px;
    width: 80%;
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin-bottom: 20px;
    transition: border 0.2s ease;
}

#input-folder-name:focus {
    outline: none;
    border: 2px solid var(--main-color);
}

#folder-adder-btn-container {
    display: flex;
    width: 100%;
}

#folder-colors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.folder-color-label div {
    margin: 5px;
    width: 64px;
    height: 64px;
    background-color: var(--book1);
    border: 4px solid var(--bg-color);
    border-radius: 10px;
    transition: border 0.2s ease;
    cursor: pointer;
}

.folder-color:checked + .folder-color-label div {
    border: 4px solid var(--main-color);
}

.btn-main {
    background-color: var(--main-color);
    border-radius: 100px;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    transition: background-color 0.2s ease;
}

.btn-main:hover {
    background-color: var(--main-color2);
}

#folder-name-alert {
    color: var(--main-color);
}

#folder-name-label {
    background-color: var(--text-color);
    padding: 0 5px;
    font-weight: bold;
}

.verse-save {
    color: grey;
    border: 2px solid var(--input-color);
    padding: 4px 10px;
    transition: color 0.1s ease, border 0.1s ease;
}

.verse-selected {
    color: var(--text-color);
    border: 2px solid var(--main-color);
}

.btn-save {
    border: none;
    width: 64px;
    height: 64px;
    border-radius: 1000px;
    color: white;
    background-color: var(--main-color) !important;
}

.btn-save span {
    text-align: center;
}
